
@{
    ViewBag.Title = "ManageProducts";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Upup.Helpers
@model Upup.Areas.Admin.ViewModels.ProductModel

@section AddCssToHead
{
    <link href="@Url.Content("~/Content/dropzone.min.css")" rel="stylesheet" type="text/css" />
}

<section class="content-header">
    <h1>
        Quản lý Sản phẩm
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionSiteMap("ProductsConsole", "Products", null, "Tổng quan", new { @class = "fa fa-dashboard" })</li>
        <li class="active">Quản lý Sản phẩm</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ManageProducts", "Products", FormMethod.Post, new { id = "insertForm" }))
        {
            <section class="content">
                <div class="box box-primary">
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            @Html.HiddenFor(n => n.Id)
                            <div class="form-group">
                                @Html.LabelFor(n => n.Category_Id)
                                @Html.DropDownListFor(n => n.Category_Id, Model.Categories, new
                           {
                               @class = "form-control",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng chọn danh mục"
                           })
                            </div>
                            @*<div class="form-group">
                                             @Html.LabelFor(n => n.Code)
                                             @Html.TextBoxFor(n => n.Code, new
                                {
                                    @class = "form-control",
                                    @placeholder = "Nhập mã Sản phẩm",
                                    @required = "required",
                                    @data_errormessage_value_missing = "Vui lòng điền mã Sản phẩm"
                                })
                                         </div>*@
                            <div class="form-group">
                                @Html.LabelFor(n => n.Name)
                                @Html.TextBoxFor(n => n.Name, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập tên Sản phẩm",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng điền tên Sản phẩm"
                           })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(n => n.Name_en)
                                @Html.TextBoxFor(n => n.Name_en, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập tên Sản phẩm tiếng anh",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng điền tên Sản phẩm tiếng anh"
                           })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(n => n.Summary)
                                @Html.TextAreaFor(n => n.Summary, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập sơ lược về sản phẩm",
                               @rows = "3"
                           })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(n => n.Summary_en)
                                @Html.TextAreaFor(n => n.Summary_en, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập sơ lược về sản phẩm tiếng anh",
                               @rows = "3"
                           })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.ImageUrl)
                                @if (Model != null && !string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                    <img src="/Images/Products/@Model.ImageUrl" alt="@Model.Name" width="150" />
                                }
                                <button type="button" class="btn btn-primary upload" data-toggle="modal" data-target=".single-img">Upload Image</button>
                                @Html.HiddenFor(p => p.ImageUrl)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.PdfUrl)
                                <button type="button" class="btn btn-primary upload" data-toggle="modal" data-target=".single-file">Tải lên</button>
                                @Html.HiddenFor(p => p.PdfUrl)
                            </div>

                            @*<div class="form-group">
                                             @Html.LabelFor(n => n.Price)
                                             @Html.TextBoxFor(n => n.Price, new
                                {
                                    @class = "form-control",
                                    @placeholder = "Nhập giá",
                                    @required = "required",
                                    @data_errormessage_value_missing = "Vui lòng điền giá Sản phẩm"
                                })
                                         </div>
                                         <div class="form-group">
                                             @Html.LabelFor(n => n.OnHand)
                                             @Html.TextBoxFor(n => n.OnHand, new
                                {
                                    @class = "form-control",
                                    @placeholder = "Nhập số lượng tồn kho",
                                    @required = "required",
                                    @data_errormessage_value_missing = "Vui lòng nhập số lượng tồn kho"
                                })
                                         </div>*@
                            <div class="form-group">
                                @Html.LabelFor(n => n.MetaDescription)
                                @Html.TextBoxFor(n => n.MetaDescription, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập mô tả cho trang",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng điền mô tả trang"
                           })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(n => n.MetaKeyword)
                                @Html.TextBoxFor(n => n.MetaKeyword, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập từ khỏa cho trang",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng điền từ khóa trang"
                           })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(n => n.MetaDescription_en)
                                @Html.TextBoxFor(n => n.MetaDescription_en, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập mô tả tiếng anh cho trang",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng điền mô tả tiếng anh cho trang"
                           })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(n => n.MetaKeyword_en)
                                @Html.TextBoxFor(n => n.MetaKeyword_en, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập từ khỏa tiếng anh cho trang",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng điền từ khóa tiếng anh cho trang"
                           })
                            </div>
                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </section>
        }
    </div>
    <div class="col-md-4">
        <div class="site-map">
            <div id="fontSizeWrapper">
                <label for="fontSize">Kích cở</label>
                <input class="small" type="range" value="1" id="fontSize" step="0.1" min="0.5" max="1" />
                <a id="createVariant" class="btn-sm btn-primary btn-sm pull-right" href="javascipt:void(0)">Tạo biến thể</a>
                <a class="btn-sm btn-success btn-sm pull-right" href="/Admin/Products/ManageProducts">Tạo mới</a>
            </div>
            @if (Model.Id > 0)
            {
                <ul class="tree">
                    <li>
                        <input type="checkbox" checked="checked" id="@("c" + Model.Id)" />
                        <label class="tree_label" for="@("c" + Model.Id)">@Model.Name</label>
                        @RenderMenuItem(Model.Variants)
                    </li>
                </ul>
            }
        </div>
    </div>
</div>

@helper RenderMenuItem(List<Upup.Areas.Admin.ViewModels.ProductVariantModel> variants)
{
    <ul>
        @if (variants.Count > 0)
        {
            foreach (var item in variants)
            {
                <li>
                    <input type="checkbox" checked="checked" id="@("ca" + item.Id)" />
                    <label for="@("ca" + item.Id)" class="tree_label">@item.VariantName</label>
                    <a class="edit-variant" data-id="@item.Id" href="javascrip:void(0)" title="Chỉnh sửa">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="delete-variant" data-id="@item.Id" href="javascrip:void(0)" title="Xóa">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </li>
            }
        }
    </ul>
}

<div class="modal fade bs-example-modal-sm single-img" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title">Upload Single Image</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("SaveUploadedFile", "Upload", new { id="Products", folderName = "Products"})" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                    <div class="fallback">
                        <input name="file" type="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm single-file" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title">Upload Single File</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("SaveUploadedFile", "Upload", new { id="Products", folderName = "ProductFiles"})" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm2">
                    <div class="fallback">
                        <input name="file" type="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="variantModel" class="modal fade bs-example-modal-sm create-variant" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title">Tạo biến thể sản phẩm</h4>
            </div>
            <div class="modal-body edit">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="hidden" name="Id" />
                        <input type="hidden" name="ProductId" value="@Model.Id" />
                        <div class="row">
                            <label>Tên biến thể:</label>
                            <input class="form-control" type="text" name="VariantName" placeholder="Nhập tên biến thể" required data-errormessage-value-missing="Vui lòng nhập tên biến thể" />
                        </div>
                        <div class="row">
                            <label>Mã biến thể:</label>
                            <input class="form-control" type="text" name="VariantCode" placeholder="Nhập mã biến thể" required data-errormessage-value-missing="Vui lòng nhập mã biến thể" />
                        </div>
                        <div class="row">
                            <label>Giá niêm yết:</label>
                            <input class="form-control" type="number" name="Price" placeholder="Nhập giá niêm yết" required data-errormessage-value-missing="Vui lòng nhập giá niêm yết" />
                        </div>
                        <div class="row">
                            <label>Đơn vị tính:</label>
                            @Html.DropDownList("UnitDropdown", Model.ProductVariantUnits, new
                       {
                           @class = "form-control",
                           @required = "required",
                           @data_errormessage_value_missing = "Vui lòng chọn đơn vị"
                       })
                        </div>
                        <div class="row">
                            <label>Tồn kho:</label>
                            <input class="form-control" type="number" name="OnHand" placeholder="Nhập số lượng tồn kho" required data-errormessage-value-missing="Vui lòng nhập lượng tồn kho" />
                        </div>
                        <div class="row">
                            <label>Tài liệu 2D:</label>
                            <button type="button" class="btn btn-primary upload" data-toggle="modal" data-target=".2d-file">Tải lên</button>
                            <input type="hidden" name="Cad2dUrl" />
                        </div>
                        <div class="row">
                            <label>Tài liệu 3D:</label>
                            <button type="button" class="btn btn-primary upload" data-toggle="modal" data-target=".3d-file">Tải lên</button>
                            <input type="hidden" name="Cad3dUrl" />
                        </div>
                        <div class="row">
                            <label>Thương hiệu:</label>
                            <input class="form-control" type="text" name="BrandName" placeholder="Nhập tên thương hiệu" required data-errormessage-value-missing="Vui lòng nhập thương hiệu" />
                        </div>
                        <div class="row">
                            <label>Xuất xứ:</label>
                            <input class="form-control" type="text" name="Origin" placeholder="Nhập xuất xứ" required data-errormessage-value-missing="Vui lòng nhập xuất xứ" />
                        </div>
                        <div class="row">
                            <label>Thiết lập ngày giao:</label>
                            <input type="hidden" name="shipsettings" value="@(Model.DefaultShipdateChoosen)" />
                            @Html.DropDownList("ShipdateSettings", Model.ShipdateSettings, new
                       {
                           @multiple = "multiple",
                           @class = "form-control js-example-basic-multiple",
                           @required = "required",
                           @data_errormessage_value_missing = "Vui lòng thêm thiết lập ngày giao"
                       })
                        </div>
                    </div>
                    <div class="text-right"><input id="updateProductVariant" type="submit" class="btn btn-primary" value="Chấp nhận" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm 2d-file" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title">Upload Single File</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("SaveUploadedFile", "Upload", new { id="Products", folderName = "2dFiles"})" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm3">
                    <div class="fallback">
                        <input name="file" type="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm 3d-file" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title">Upload Single File</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("SaveUploadedFile", "Upload", new { id="Products", folderName = "3dFiles"})" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm4">
                    <div class="fallback">
                        <input name="file" type="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Dữ liệu Sản phẩm</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Tên sản phẩm tiếng anh</th>
                        <th>Hình ảnh</th>
                        <th>Tùy chỉnh</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

@section AddScriptToBody{
    <script src="@Url.Content("~/Scripts/dropzone.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $select = $(".js-example-basic-multiple");
            $select.select2().on("change", function (e) {
                $('.create-variant input[name="shipsettings"]').val($("#ShipdateSettings").val());
            });
            $select.val($('.create-variant input[name="shipsettings"]').val().split(',')).trigger("change");
        });
        $(function() {
            Dropzone.options.dropzoneForm = {
                maxFiles: 1,
                init: function() {
                    this.on("success", function(file) {

                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button class='btn btn-danger'>Remove file</button>");

                        // Capture the Dropzone instance as closure.
                        var _this = this;
                        var filePath = arguments[1].FilePath;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                            $.ajax({
                                url: '@Url.Action("DeleteUploadedFile", "Upload", new {id = "Products"})',
                                type: 'POST',
                                data: {
                                    filePath: filePath
                                }
                            });
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        $("#ImageUrl").val(arguments[1].Message);
                    });
                }
            };

            Dropzone.options.dropzoneForm2 = {
                maxFiles: 1,
                init: function() {
                    this.on("success", function(file) {

                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button class='btn btn-danger'>Remove file</button>");

                        // Capture the Dropzone instance as closure.
                        var _this = this;
                        var filePath = arguments[1].FilePath;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                            $.ajax({
                                url: '@Url.Action("DeleteUploadedFile", "Upload", new {id = "Products"})',
                                type: 'POST',
                                data: {
                                    filePath: filePath
                                }
                            });
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        $("#FileUrl").val(arguments[1].Message);
                    });
                }
            };

            Dropzone.options.dropzoneForm3 = {
                maxFiles: 1,
                init: function() {
                    this.on("success", function(file) {

                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button class='btn btn-danger'>Remove file</button>");

                        // Capture the Dropzone instance as closure.
                        var _this = this;
                        var filePath = arguments[1].FilePath;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                            $.ajax({
                                url: '@Url.Action("DeleteUploadedFile", "Upload", new {id = "Products"})',
                                type: 'POST',
                                data: {
                                    filePath: filePath
                                }
                            });
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        $(".create-variant input[name='Cad2dUrl']").val(arguments[1].Message);
                    });
                }
            };

            Dropzone.options.dropzoneForm4 = {
                maxFiles: 1,
                init: function() {
                    this.on("success", function(file) {

                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button class='btn btn-danger'>Remove file</button>");

                        // Capture the Dropzone instance as closure.
                        var _this = this;
                        var filePath = arguments[1].FilePath;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                            $.ajax({
                                url: '@Url.Action("DeleteUploadedFile", "Upload", new {id = "Products"})',
                                type: 'POST',
                                data: {
                                    filePath: filePath
                                }
                            });
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        $(".create-variant input[name='Cad3dUrl']").val(arguments[1].Message);
                    });
                }
            };

            CKEDITOR.replace('Summary', {
                extraPlugins: 'divarea'
            });

            CKEDITOR.replace('Summary_en', {
                extraPlugins: 'divarea'
            });

            $('#updateProductVariant').click(function () {
                $.post('/ProductVariants/UpdateProductVariants',
                    { 'id': $('.create-variant input[name="Id"]').val() !== '' ? parseInt($('.create-variant input[name="Id"]').val(), 10) : 0,
                        'productId': $('.create-variant input[name="ProductId"]').val(),
                        'name': $('.create-variant input[name="VariantName"]').val(),
                        'code': $('.create-variant input[name="VariantCode"]').val(),
                        'price': $('.create-variant input[name="Price"]').val(),
                        'onHand': $('.create-variant input[name="OnHand"]').val(),
                        'url2d': $('.create-variant input[name="Cad2dUrl"]').val(),
                        'url3d': $('.create-variant input[name="Cad3dUrl"]').val(),
                        'brandName': $('.create-variant input[name="BrandName"]').val(),
                        'Origin': $('.create-variant input[name="Origin"]').val(),
                        'unitId': $('.create-variant select[name="UnitDropdown"]').val(),
                        'settingIds': $('.create-variant input[name="shipsettings"]').val() },
                    function(data) {
                        if (data.ResultValue) {
                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_SUCCESS,
                                title: 'Thành công',
                                message: data.Message
                            });
                        } else {
                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_DANGER,
                                title: 'Thất bại',
                                message: data.Message
                            });
                        }
                        setTimeout(function () {
                            location.href = '@Url.Action("ManageProducts", "Products")';
                        }, 3000);
                    }
                );
            });

            $('.edit-variant').click(function () {
                var id = parseInt($(this).attr('data-id'), 10);
                if(id>0){
                    $.post('/ProductVariants/GetProductVariantById',
                        { 'id': id},
                        function(data) {
                            if (data) {
                                $('.create-variant input[name="Id"]').val(data.Id);
                                $('.create-variant input[name="VariantName"]').val(data.VariantName);
                                $('.create-variant input[name="VariantCode"]').val(data.VariantCode);
                                $('.create-variant select[name="UnitDropdown"]').val(data.ProductVariantUnitId);
                                $('.create-variant input[name="Price"]').val(data.Price);
                                $('.create-variant input[name="Price"]').val(data.Price);
                                $('.create-variant input[name="OnHand"]').val(data.OnHand);
                                $('.create-variant input[name="Cad2dUrl"]').val(data.Cad2dUrl);
                                $('.create-variant input[name="Cad3dUrl"]').val(data.Cad3dUrl);
                                $('.create-variant input[name="BrandName"]').val(data.BrandName);
                                $('.create-variant input[name="Origin"]').val(data.Origin);
                                $('.create-variant input[name="shipsettings"]').val(data.ShipDateSelected);
                                $('#ShipdateSettings').val(data.ShipDateSelected.split(',')).trigger("change");
                                $("#variantModel").modal("show");
                            } else {
                                BootstrapDialog.show({
                                    type: BootstrapDialog.TYPE_DANGER,
                                    title: 'Thất bại',
                                    message: 'Lấy dữ liệu thất bại'
                                });
                            }
                        }
                    );
                }
            });

            $('.delete-variant').click(function () {
                var id = parseInt($(this).attr('data-id'), 10);
                if(id>0){
                    BootstrapDialog.confirm({
                        title: 'Tin nhắn',
                        message: 'Bạn thật sự muốn xóa biến thể này ?',
                        //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                        closable: true, // <-- Default value is false
                        draggable: true, // <-- Default value is false
                        btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                        btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                        //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                        callback: function(result) {
                            // result will be true if button was click, while it will be false if users close the dialog directly.
                            if (result) {
                                $.post('/ProductVariants/RemoveProductVariants', { 'id': parseInt(id, 10) },
                                    function(data) {
                                        if (data.ResultValue) {
                                            BootstrapDialog.show({
                                                type: BootstrapDialog.TYPE_SUCCESS,
                                                title: 'Thành công',
                                                message: data.Message
                                            });
                                        } else {
                                            BootstrapDialog.show({
                                                type: BootstrapDialog.TYPE_DANGER,
                                                title: 'Thất bại',
                                                message: data.Message
                                            });
                                        }
                                        setTimeout(function() {
                                            location.href = '@Url.Action("ManageProducts", "Products")';
                                        }, 3000);
                                    }
                                );
                            }
                        }
                    });
                }
            });

            $('#createVariant').click(function () {
                if(@Model.Id === 0){
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_WARNING,
                        title: 'Thông báo',
                        message: 'Vui lòng tạo sản phẩm trước khi tạo biến thể'
                    });
                } else {
                    $(".create-variant input[type='text']").val('');
                    $(".create-variant input[type='number']").val(0);
                    $("#variantModel").modal("show");
                }
            });

            $('#IdCategory').change(function () {
                var $this = $(this);
                if ($this.find('option').is(':selected')) {
                    $('#CategoryName').val($this.find('option[value=' + $this.val() + ']').text());
                }
            });

            $("button[type='submit']").click(function() {
                var messageLength = CKEDITOR.instances.Summary.getData().replace(/<[^>]*>/gi, '').length;
                if (!messageLength && $("#IdCategory").val() !== '' && $("#Name").val() !== '' && $("#Author").val() !== '') {
                    AlertBootstrap('Vui lòng viết vài dòng tóm lượt');
                    return false;
                }
                return true;
            });

            var $table = $("#example1").DataTable({
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ dòng dữ liệu cho mỗi trang",
                    "search": "Tìm kiếm: ",
                    "zeroRecords": "Xin lỗi - Không tìm thấy kết quả nào",
                    "info": "Đang hiển thị trang _PAGE_ trên tổng số _PAGES_ trang",
                    "infoEmpty": "Dữ liệu không tồn tại",
                    "infoFiltered": "(đã lọc được _MAX_ trên tổng sô dữ liệu)",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "previous": "Trang trước",
                        "next": "Trang sau"
                    }
                },
                "serverSide": true,
                "ajaxSource": "/Products/LoadAllProducts",
                "processing": true,
                "columns": [
                    {
                        "name": "ID",
                        "class": "data-id"
                    },
                    { "name": "Name" },
                    { "name": "Name_en" },
                    {
                        "name": "ImageUrl",
                        "sortable": false,
                        "render": function (data, type, full, meta) {
                            return '<img width="100" src="/Images/Products/' + data + '"/>';
                        }
                    },
                    {
                        "name": "ID",
                        "targets": 5,
                        "searchable": false,
                        "sortable": false,
                        "width": 90,
                        "render": function(data, type, full, meta) {
                            return '<a href=\"/Admin/Products/ManageProducts/' + data + '\" class="btn btn-success btn-xs"><i class="fa fa-edit fa-lg"></i> &nbsp;Sửa</a>  <a href=\"javascript:void(0)\" data-id="' + data + '" class="btn btn-danger btn-xs act-del" data-toggle="confirmation"><i class="fa fa-trash-o fa-lg"></i> &nbsp;Xóa</a>';
                        }
                    }
                ],
                "drawCallback": function(settings) {
                    $(".act-del").click(function() {
                        var id = $(this).attr('data-id');
                        BootstrapDialog.confirm({
                            title: 'Tin nhắn',
                            message: 'Bạn thật sự muốn xóa Sản phẩm này ?',
                            //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                            closable: true, // <-- Default value is false
                            draggable: true, // <-- Default value is false
                            btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                            btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                            //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                            callback: function(result) {
                                // result will be true if button was click, while it will be false if users close the dialog directly.
                                if (result) {
                                    $.post('/Products/RemoveProducts', { 'id': parseInt(id, 10) },
                                        function(data) {
                                            if (data.ResultValue) {
                                                BootstrapDialog.show({
                                                    type: BootstrapDialog.TYPE_SUCCESS,
                                                    title: 'Thành công',
                                                    message: data.Message
                                                });
                                            } else {
                                                BootstrapDialog.show({
                                                    type: BootstrapDialog.TYPE_DANGER,
                                                    title: 'Thất bại',
                                                    message: data.Message
                                                });
                                            }
                                            $table.ajax.reload();
                                            setTimeout(function() {
                                                BootstrapDialog.closeAll();
                                            }, 5000);
                                        }
                                    );
                                }
                            }
                        });
                    });
                }
            });
        });
    </script>
}

