@using Upup.Models
@using Upup.Globalization
@model PurchaseOrder

@{
    ViewBag.Title = "PO Detail";
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTime.Now;
}

@using Upup.Helpers

<div id="cart">


    <h2 class="lang-vi">Chi tiết đơn hàng</h2>
    <h2 class="lang-en">PO Detail</h2>
    <table class="cart">
        <tbody>
            <tr>
                <td>
                    <label>
                        <span class="lang-vi">
                            Tên PO
                        </span>
                        <span class="lang-en">
                            PO name
                        </span>
                    </label>
                </td>
                <td class="large">
                    @if (Model.IsTemp)
                    {
                        <input type="text" id="poname" class="form-control" value="@Model.Name" />
                    }
                    else
                    {
                        <div>@Model.Name</div>
                    }
                </td>
                <td><label><span class="lang-vi">Mã khách hàng</span><span class="lang-en">Customer code</span></label></td>
                <td class="small"><div id="customerCode">@Model.Customer.Code</div></td>
            </tr>
            <tr>
                <td><label><span class="lang-vi">Tên khách hàng</span><span class="lang-en">Customer name</span></label></td>
                <td class="large"><div id="customerName">@Model.Customer.FullName</div></td>
                <td><label><span class="lang-vi">Mã PO</span><span class="lang-en">PO code</span></label></td>
                <td class="small"><div id="PoCode">@Model.Code</div></td>
            </tr>
            <tr>
                <td><label><span class="lang-vi">Địa chỉ</span><span class="lang-en">Address</span></label></td>
                <td class="large"><div id="customerAddress">@Model.GetCustomerModel().CustomerAddress</div></td>
                <td><label><span class="lang-vi">Phương thức thanh toán</span><span class="lang-en">Payment method</span></label></td>
                @if (Model.IsTemp)
                {
                    <td class="small">
                        <select id="pay_method" class="form-control">
                            @foreach (var item in PaymentMethodExtension.GetSelectionList(false))
                            {
                                if (item.Value == Model.PaymentMethod)
                                {
                                    <option selected="selected" value="@item.Value">@item.Display</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Display</option>
                                }
                            }
                        </select>
                    </td>
                }
                else
                {
                    <td class="small"><div id="PoCode">@Model.GetPaymentMethodString()</div></td>
                }
            </tr>
            <tr>
                <td><label><span class="lang-vi">Số điện thoại</span><span class="lang-en">Phone</span></label></td>
                <td class="large"><div id="customerPhone">@Model.GetCustomerModel().CustomerPhone</div></td>
                <td colspan="2" rowspan="3" class="text-center caro-bg"><img width="120" height="120" src="@(StringHelper.CreateQrCode(Model.Code))" /></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td class="large"><div id="customerEmail">@Model.GetCustomerModel().CustomerEmail</div></td>
            </tr>
            <tr>
                <td><label>Website</label></td>
                <td class="large"><div id="customerWebsite">@Model.GetCustomerModel().CustomerWebsite</div></td>
            </tr>
        </tbody>
    </table>
    <h2><span class="lang-vi">Thông tin sản phẩm</span><span class="lang-en">Product info</span></h2>
    @if (Model.IsTemp)
    {
        <div class="area-button">
            <a href="javascript:void(0)" class="btn btn-danger act-del"><span class="lang-vi">Xóa</span><span class="lang-en">Remove</span></a>
            <a href="javascript:void(0)" class="btn btn-success act-add"><span class="lang-vi">Thêm</span><span class="lang-en">Add</span></a>
        </div>
    }
    <table id="example1" class="table table-bordered table-striped display">
        <thead>
            <tr>
                <th class="check-all"><input type="hidden" name="select_all" value="1" id="example-select-all"></th>
                <th><span class="lang-vi">Stt</span><span class="lang-en">Item No.</span></th>
               <th><span class="lang-vi">Mã sản phẩm</span><span class="lang-en">Product code</span></th>
                <th><span class="lang-vi">Số lượng</span><span class="lang-en">Quantity</span></th>
                <th><span class="lang-vi">Đơn vị</span><span class="lang-en">Unit</span></th>
                <th><span class="lang-vi">Tên sản phẩm</span><span class="lang-en">Product name</span></th>
                <th><span class="lang-vi">Đơn giá</span><span class="lang-en">Price</span></th>
                <th><span class="lang-vi">Thành tiền</span><span class="lang-en">Amount</span></th>
                <th><span class="lang-vi">Ngày giao</span><span class="lang-en">Shipping date</span></th>
                <th><span class="lang-vi">Trạng thái</span><span class="lang-en">Status</span></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @if (Model.IsTemp)
    {
        <div class="area-button row">
            <a href="javascript:void(0)" class="btn btn-danger act-del"><span class="lang-vi">Xóa</span><span class="lang-en">Remove</span></a>
            <a href="javascript:void(0)" class="btn btn-success act-add"><span class="lang-vi">Thêm</span><span class="lang-en">Add</span></a>
        </div>
    }
    <div class="area-button text-center">
        <form action="/Po/MakeOrderFromTemp" method="post" class="prevent-if-name-empty">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="hidden" name="code" value="@Model.Code" />
            <input type="hidden" class="clone_po_name" name="name" value="@Model.Name" />
            <input type="hidden" class="clone_pay_method" name="paymentMethodId" value="@Model.PaymentMethod" />
            <input type="submit" class="btn btn-primary btn_Order lang-en" value="Order">
            <input type="submit" class="btn btn-primary btn_Order lang-vi" value="Đặt hàng">
        </form>
    </div>

    <div id="addVariantModel" class="modal fade bs-example-modal-sm modal-sm bootstrap-dialog type-primary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 id="myLargeModalLabel" class="modal-title"><span class="lang-vi">Thêm sản phẩm vào giỏ hàng</span><span class="lang-en">Add product to cart</span></h4>
                </div>
                <div class="modal-body edit">
                    <div class="form-group">
                        <div>
                            <label><span class="lang-vi">Mã biến thể:</span><span class="lang-en">Variant code:</span></label>
                            <input class="form-control" id="variant-code" type="text" placeholder="@Lang.Enter_variant_code" required data-errormessage-value-missing="@Lang.Enter_variant_code" />
                        </div>
                        <div>
                            <label><span class="lang-vi">Số lượng:</span><span class="lang-en">Quantity:</span></label>
                            <input class="form-control" id="variant-quantity" min="1" value="1" type="number" placeholder="@Lang.Enter_Quantity" required data-errormessage-value-missing="@Lang.Enter_Quantity" />
                        </div>
                    </div>
                    <div class="text-right"><input id="addProductVariantToCart" type="submit" class="btn btn-primary" value="@Lang.Accept" /></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.prevent-if-name-empty').submit(function (e) {

                if (($('#poname').val() || '').trim() == '') {
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_DANGER,
                        title: '@Lang.Cant_Finish_Task',
                        message: '@Lang.Please_Enter_PO_Name'
                    });
                    e.preventDefault();
                    return;
                }

                if ($('.data-marker').length == 0) {
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_DANGER,
                        title: '@Lang.Cant_Finish_Task',
                        message: '@Lang.Please_Add_Prod_To_Card'
                    });
                    e.preventDefault();
                    return;
                }
            });


            $('#poname').on('input', function (e) {
                $('.clone_po_name').val($('#poname').val());
            });

            $('#pay_method').change(function (e) {
                $('.clone_pay_method').val($('#pay_method').val());
            });

            var $table = $("#example1").DataTable({
                "language": {
                    "lengthMenu": "@Lang.Display_Menu_Datatable",
                    "search": "@Lang.Search: ",
                    "zeroRecords": "@Lang.Zero_Record_Datatable",
                    "info": "@Lang.Display_Page_Total_DataTable",
                    "infoEmpty": "@Lang.Data_Not_Found_Datatable",
                    "infoFiltered": "@Lang.Info_Filtered_Datatable",
                    "paginate": {
                        "first": "@Lang.First_Page",
                        "last": "@Lang.Last_Page",
                        "previous": "@Lang.Prev_Page",
                        "next": "@Lang.Next_Page"
                    }
                },
                "autoWidth": false,
                "ordering": false,
                "serverSide": true,
                "ajaxSource": "/api/PoApi/GetPoDetails/@Model.Id",
                "processing": true,
                "searching": false,
                "paging": false,
                "info": false,
                "columns": [
                    {
                        data: "DT_RowData.Checked",
                        targets: 0,
                        className: 'dt-body-center',
                        render: function (data, type, full, meta) {
                            return '<input type="checkbox" class="tblcbx data-marker"/>';
                        }
                    },
                    { data: "DT_RowData.Sequence" },
                    { data: "DT_RowData.ProductVariantCode" },
                    { data: "DT_RowData.Quantity" },
                    { data: "DT_RowData.UnitName" },
                    { data: "DT_RowData.ProductName" },
                    {
                        data: "DT_RowData.ProductPrice",
                        'render': function (data, type, full, meta) {
                            if (data) {
                                return accounting.formatMoney(data);
                            }
                            else {
                                return 0
                            }
                        }
                    },
                    {
                        data: "DT_RowData.TotalPrice",
                        'render': function (data, type, full, meta) {
                            if (data) {
                                return accounting.formatMoney(data);
                            }
                            else {
                                return 0
                            }
                        }
                    },
                    {
                        data: "DT_RowData.DateShipping",
                        'render': function (data, type, full, meta) {
                            if (data) {
                                return data + " @Lang.Day";
                            }
                            else {
                                return "@Lang.Undetermine"
                            }
                        }
                    },
                    { data: "DT_RowData.StateString" }
                ],
                "select": {
                    "style": 'os',
                    "selector": 'td:not(:last-child)' // no row selection on last column
                },
                "drawCallback": function (settings) {
                    $(".tblcbx").click(function (cb) {
                        $(this).closest('tr').data().Checked = cb.originalEvent.toElement.checked;
                    });

                }
            });

            var isTemp = @Model.IsTemp.ToString().ToLower();

            if (!isTemp)
            {
                $table.column(0).visible(false);
                $('.btn_Order').hide();
            }

            // Handle click on "Select all" control
            $('#example-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = $table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            $(".act-del").click(function () {
                BootstrapDialog.confirm({
                    title: '@Lang.Message',
                    message: '@Lang.Do_YouReally_Want_To_Remove_Product_Outof_Po',
                    //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                    closable: true, // <-- Default value is false
                    draggable: true, // <-- Default value is false
                    btnCancelLabel: '@Lang.Cancel', // <-- Default value is 'Cancel',
                    btnOKLabel: '@Lang.Accept', // <-- Default value is 'OK',
                    //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                    callback: function (result) {
                        // result will be true if button was click, while it will be false if users close the dialog directly.
                        if (result) {
                            var allIds = [];
                            $("#example1").children('tbody').children('tr').each((function (index, tr) {
                                if ($(tr).data().Checked) {
                                    allIds.push($(tr).data().Id);
                                }
                            }));
                            $.post('/api/PoApi/RemoveFromPo', { ids: allIds, PoId: @Model.Id },
                                function (data) {
                                    if (data.ResultValue) {
                                        BootstrapDialog.show({
                                            type: BootstrapDialog.TYPE_SUCCESS,
                                            title: '@Lang.Success',
                                            message: data.Message
                                        });
                                    } else {
                                        BootstrapDialog.show({
                                            type: BootstrapDialog.TYPE_DANGER,
                                            title: '@Lang.Fail',
                                            message: data.Message
                                        });
                                    }
                                    $table.ajax.reload();
                                    setTimeout(function () {
                                        BootstrapDialog.closeAll();
                                    }, 3000);
                                }
                            );
                        }
                    }
                });
            });

            $('.act-add').click(function () {
                $('#addVariantModel').modal().show();
            });

            $('#addProductVariantToCart').click(function () {
                $.post("/api/PoApi/AddToPo", { productVariantCode: $('#variant-code').val(), quantity: parseInt($("#variant-quantity").val()), PoId: @Model.Id }, function (response) {
                    if (response.ResultValue) {
                        $('#variant-code').val('');
                        $("#variant-quantity").val(1);
                        $table.ajax.reload();
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_SUCCESS,
                            title: '@Lang.Success',
                            message: response.Message
                        });
                    }
                    else {
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_DANGER,
                            title: '@Lang.Fail',
                            message: response.Message
                        });
                    }
                    setTimeout(function () {
                        BootstrapDialog.closeAll();
                    }, 3000);
                });
            });
        });
    </script>
}