@using Upup.Globalization
@model  IEnumerable<Upup.ViewModels.PoItemModel>
@{
    ViewBag.Title = "CartHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cart">
    <h2 class="lang-vi">Danh sách đơn hàng</h2>
    <h2 class="lang-en">PO list</h2>
    <table id="example1" class="table table-bordered table-striped display">
        <thead>
            <tr>
                <th rowspan="2"><span class="lang-vi">Stt</span><span class="lang-en">Item No.</span></th>
                <th rowspan="2"><span class="lang-vi">Tên PO</span><span class="lang-en">PO name</span></th>
                <th rowspan="2"><span class="lang-vi">Mã PO</span><span class="lang-en">PO code</span></th>
                <th colspan="4"><span class="lang-vi">Trạng thái</span><span class="lang-en">Status</span></th>
                <th rowspan="2"><span class="lang-vi">Thao tác</span><span class="lang-en">Action</span></th>
            </tr>
            <tr>
                <th><span class="lang-vi">Đặt hàng</span><span class="lang-en">Ordered</span></th>
                <th><span class="lang-vi">Thanh toán</span><span class="lang-en">Paid</span></th>
                <th><span class="lang-vi">Vận chuyển</span><span class="lang-en">Shipping</span></th>
                <th><span class="lang-vi">Hoàn thành</span><span class="lang-en">Completed</span></th>
            </tr>

        </thead>
        <tbody>
            @{
                var i = 1;
                foreach (var po in Model)
                {
                    <tr>
                        <td>@po.Sequence</td>
                        <td>@po.Name</td>
                        <td>@po.Code</td>
                        <td>
                            @{
                                if (po.Ordered)
                                {
                                    <input checked="checked" type="checkbox" disabled>
                                }
                                else
                                {
                                    <input type="checkbox" disabled>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (po.Paid)
                                {
                                    <input checked="checked" type="checkbox" disabled>
                                }
                                else
                                {
                                    <input type="checkbox" disabled>
                                }
                            }
                        </td>
                        <td>@po.ShipingProgress</td>
                        <td>@po.CompleteProgress</td>
                        <td>
                            <a href="/Po/Detail/@po.Id" class="btn btn-primary btn-xs"><i class="fa fa-eye fa-lg view-detail"></i> &nbsp; <span class="lang-vi">Chi tiết</span><span class="lang-en">Detail</span></a>
                            @if (po.Removable)
                            {
                                <form method="post" action="/Po/Delete/@po.Id" style="display: inline-block">
                                    <button class="act-del btn btn-danger btn-xs" type="button">
                                        <span class="lang-vi">Xóa</span><span class="lang-en">Remove</span>
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                                    i++;
                                }
            }

        </tbody>
    </table>
</div>

@section scripts{
    @if (TempData["Success"] != null)
    {
        <script>
            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_SUCCESS,
                title: '@Lang.Success',
                message: '@TempData["Message"]'
            });
            setTimeout(function () {
                BootstrapDialog.closeAll();
            }, 5000);
        </script>
    }
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
            $(function () {

                $('.act-del').click(function (event) {
                    var that = $(this);
                    BootstrapDialog.confirm({
                        title: '@Lang.Message',
                        message: '@Lang.Do_YouReally_Want_To_Remove_Those_Items',
                        type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                        closable: true, // <-- Default value is false
                        draggable: true, // <-- Default value is false
                        btnCancelLabel: '@Lang.Cancel', // <-- Default value is 'Cancel',
                        btnOKLabel: '@Lang.Accept', // <-- Default value is 'OK',
                        //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                        callback: function (result) {
                            if (result) {
                                that.parent().submit();
                            }
                        }
                    });
                });

                var $table = $("#example1").DataTable({
                    "language": {
                        "lengthMenu": "@Lang.Display_Menu_Datatable",
                        "search": "@Lang.Search: ",
                        "zeroRecords": "@Lang.Zero_Record_Datatable",
                        "info": "@Lang.Display_Page_Total_DataTable",
                        "infoEmpty": "@Lang.Data_Not_Found_Datatable",
                        "infoFiltered": "@Lang.Info_Filtered_Datatable",
                        "paginate": {
                            "first": "@Lang.First_Page",
                            "last": "@Lang.Last_Page",
                            "previous": "@Lang.Prev_Page",
                            "next": "@Lang.Next_Page"
                        }
                    },
                    autoWidth: false,
                    ordering: false,
                    serverSide: true,
                    ajaxSource: "/Po/GetAllPo",
                    processing: true,
                    searching: false,
                    paging: false,
                    info: false,
                    columns: [
                        { data: "DT_RowData.Sequence" },
                        //{ data: "DT_RowData.Name"},
                        //{ data: "DT_RowData.Code"},
                        //{ data: "DT_RowData.Ordered" },
                        //{ data: "DT_RowData.Paid" },
                        //{ data: "Dt_RowData.ShipingProgress"},
                        //{ data: "IsCompleted" },
                        //{
                        //    targets: 0,
                        //    data: "DT_RowData.State",
                        //    searchable: false,
                        //    orderable: false,
                        //    className: 'dt-body-center',
                        //    render: function (data, type, full, meta) {
                        //        if (data == 1) { // is temp po
                        //            return '<a href="javascript:void(0)" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-lg delete"></i> &nbsp;Xóa</a>';
                        //        }
                        //        else {
                        //            return '<a href="javascript:void(0)" class="btn btn-primary btn-xs"><i class="fa fa-eye fa-lg view-detail"></i> &nbsp;Chi tiết</a>';
                        //        }
                        //    }
                        //}
                    ],
                    "select": {
                        "style": 'os',
                        "selector": 'td:not(:last-child)' // no row selection on last column
                    },
                    'order': [[1, 'asc']],
                    "drawCallback": function (settings) {
                        //$(".act-del").click(function () {
                        //    var id = $(this).attr('data-id');
                        //    BootstrapDialog.confirm({
                        //        title: 'Tin nhắn',
                        //        message: 'Bạn thật sự muốn xóa danh mục này ?',
                        //        //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                        //        closable: true, // <-- Default value is false
                        //        draggable: true, // <-- Default value is false
                        //        btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                        //        btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                        //        //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                        //        callback: function (result) {
                        //            // result will be true if button was click, while it will be false if users close the dialog directly.
                        //            if (result) {
                        //                $.post('/PostCategories/RemoveCategories', { 'id': parseInt(id, 10) },
                        //                    function (data) {
                        //                        if (data.ResultValue) {
                        //                            BootstrapDialog.show({
                        //                                type: BootstrapDialog.TYPE_SUCCESS,
                        //                                title: 'Thành công',
                        //                                message: data.Message
                        //                            });
                        //                        } else {
                        //                            BootstrapDialog.show({
                        //                                type: BootstrapDialog.TYPE_DANGER,
                        //                                title: 'Thất bại',
                        //                                message: data.Message
                        //                            });
                        //                        }
                        //                        $table.ajax.reload();
                        //                        setTimeout(function () {
                        //                            BootstrapDialog.closeAll();
                        //                        }, 5000);
                        //                    }
                        //                );
                        //            }
                        //        }
                        //    });
                        //});
                    }
                });

                // Handle click on "Select all" control
                $('#example-select-all').on('click', function () {
                    // Get all rows with search applied
                    var rows = $table.rows({ 'search': 'applied' }).nodes();
                    // Check/uncheck checkboxes for all rows in the table
                    $('input[type="checkbox"]', rows).prop('checked', this.checked);
                });
            });
    </script>
}