@using System.Web.Configuration
@using System.Configuration;
@{
    Configuration webConfigApp = WebConfigurationManager.OpenWebConfiguration("~");
}
@model Upup.ViewModels.HomeViewModel
@{
    ViewBag.Title_en = "Home Page";
    ViewBag.Title = "Trang chủ";

    //var pagingCategory = new List<IEnumerable<Upup.Models.Category>>();

    //for (int i = 0; i < 1000; i++)
    //{
    //    var split = Model.CategoryShowInCarousel.Take(8).Skip(8 * i);
    //    if (!split.Any())
    //    {
    //        break;
    //    }
    //    pagingCategory.Add(split);
    //}

}

<div id="topHomeBody">
    <div class="row">
        <div class="col-md-8">
            <div class="area-menu">
                @{Html.RenderPartial("_MenuPartial", Model.Categories);}
            </div>
            <div class="area-slider">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Images/settings/@webConfigApp.AppSettings.Settings["MainBannerUrl1"].Value" alt="ASP.NET" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p class="lang-vi">
                                    @webConfigApp.AppSettings.Settings["MainSlogan1"].Value
                                </p>
                                <p class="lang-en">
                                    @webConfigApp.AppSettings.Settings["MainSlogan1_en"].Value
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Images/settings/@webConfigApp.AppSettings.Settings["MainBannerUrl2"].Value" alt="Visual Studio" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p class="lang-vi">
                                    @webConfigApp.AppSettings.Settings["MainSlogan2"].Value
                                </p>
                                <p class="lang-en">
                                    @webConfigApp.AppSettings.Settings["MainSlogan2_en"].Value
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Images/settings/@webConfigApp.AppSettings.Settings["MainBannerUrl3"].Value" alt="Package Management" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p class="lang-vi">
                                    @webConfigApp.AppSettings.Settings["MainSlogan3"].Value
                                </p>
                                <p class="lang-en">
                                    @webConfigApp.AppSettings.Settings["MainSlogan3_en"].Value
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Images/settings/@webConfigApp.AppSettings.Settings["MainBannerUrl4"].Value" alt="Microsoft Azure" class="img-responsive" />
                            <div class="carousel-caption" role="option">
                                <p class="lang-vi">
                                    @webConfigApp.AppSettings.Settings["MainSlogan4"].Value
                                </p>
                                <p class="lang-en">
                                    @webConfigApp.AppSettings.Settings["MainSlogan4_en"].Value
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">
                            <span class="lang-en">Previous</span>
                            <span class="lang-vi">Trước</span>
                        </span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">
                            <span class="lang-vi">Sau</span>
                            <span class="lang-en">Next</span>
                        </span>
                    </a>
                </div>
            </div>
            <div id="bottomHomeBody">
                <div class="row">
                    <div class="area-head-category">
                        <div>
                            @foreach (var categoryLevel1 in Model.Categories)
                            {
                                if (categoryLevel1.ChildCategories.Count > 0)
                                {
                                    <div class="category-caption">
                                        <h2 class="lang-vi">@categoryLevel1.Name</h2>
                                        <h2 class="lang-en">@categoryLevel1.Name_en</h2>
                                    </div>
                                    <div class="item active">
                                        <ul class="product-category-items">
                                            @foreach (var categoryLevel2 in categoryLevel1.ChildCategories)
                                            {
                                                <li>
                                                    @{ Html.RenderPartial("_ProductCategoryItemPartial", categoryLevel2); }
                                                </li>
                                                        }
                                        </ul>
                                    </div>
                                                            }
                                                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="area-contact">
                <div class="content-wrapper">
                    <h3><span class="lang-vi">Chăm sóc khách hàng</span><span class="lang-en">Contact/Support</span></h3>
                    @if (Model.UserGuides != null && Model.UserGuides.Count() > 0)
                    {
                    <div class="support">
                        <ul>
                            @foreach (var guide in Model.UserGuides)
                                {
                                <li>
                                    <a href="@Url.Action("Index","Post", new { id = guide.Id })">
                                        <span class="lang-en">
                                            @guide.Title_en
                                        </span>
                                        <span class="lang-vi">
                                            @guide.Title
                                        </span>
                                    </a>
                                </li>
                                }
                        </ul>
                    </div>
                    }
                    <div class="detail">
                        <ul class="contact">
                            <li class="phone-line"><span class="bold lang-vi">Số điện thoại:</span> <span class="bold lang-en">Phone:</span><br> <strong>@WebConfigurationManager.AppSettings["Phone"]</strong></li>
                            <li class="fax-line"><span class="bold lang-vi">Số Fax:</span><span class="bold lang-en">Fax:</span><br> <strong>@WebConfigurationManager.AppSettings["Fax"]</strong></li>
                            <li class="mail-line"><span class="bold lang-vi">Hộp thư:</span><span class="bold lang-en">Email:</span> <strong>@WebConfigurationManager.AppSettings["Email"]</strong></li>
                        </ul>
                        <ul class="hour">
                            <li class="time-line">
                                <span class="lang-vi">
                                    @Html.Raw(HttpUtility.HtmlDecode(@WebConfigurationManager.AppSettings["WorkTime"]))
                                </span>
                                <span class="lang-en">
                                    @Html.Raw(HttpUtility.HtmlDecode(@WebConfigurationManager.AppSettings["WorkTime_en"]))
                                </span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
