@using Upup.Globalization
@model Upup.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Thiết đặt tài khoản";
    ViewBag.Title_en = "Account setting";
}

<h2 class="lang-vi">@ViewBag.Title</h2>
<h2 class="lang-en">@ViewBag.Title_en</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="dl-horizontal row">
        <div class="form-group">
            <span>@Lang.Password:</span>
            <span>
                @Html.ActionLink(Lang.Change_Password, "ChangePassword")
            </span>
        </div>
        @if (Model.IsCustomer)
        {
            <div>
                <div class="form-group">
                    <span>@Lang.Register_Email: @Model.Customer.Email</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Name: @Model.Customer.FullName</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Company_Name: @Model.Customer.OrgName</span>
                </div>
                <div class="form-group">
                    <span>Webiste: @Model.Customer.Webiste</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Department: @Model.Customer.DepartmentName</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Address1: @Model.Customer.Address1</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Address2: @Model.Customer.Address2</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Address3: @Model.Customer.Address3</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Address4: @Model.Customer.Address4</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Postal_Code: @Model.Customer.PostalCode</span>
                </div>
                <div class="form-group">
                    <span>@Lang.Register_Phone: @Model.Customer.PhoneNumber</span>
                </div>
                <div class="form-group">
                    <span>Fax: @Model.Customer.Fax</span>
                </div>
            </div>
            <div>
                <a href="/Manage/Edit" class="btn btn-primary bg-base-color-dark"><span class="lang-en">Update</span> <span class="lang-vi">Cập nhật</span></a>
            </div>
        }
    </div>
</div>
