@model Upup.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Thiết đặt tài khoản";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="dl-horizontal row">
        <div class="form-group">
            <span>Mật khẩu:</span>
            <span>
                @Html.ActionLink("Đổi mật khẩu", "ChangePassword")
            </span>
        </div>
        @if (Model.IsCustomer)
        {
            <div>
                <div class="form-group">
                    <span>Email: @Model.Customer.Email</span>
                </div>
                <div class="form-group">
                    <span>Họ Tên: @Model.Customer.FullName</span>
                </div>
                <div class="form-group">
                    <span>Công ty/Tổ chức: @Model.Customer.OrgName</span>
                </div>
                <div class="form-group">
                    <span>Webiste: @Model.Customer.Webiste</span>
                </div>
                <div class="form-group">
                    <span>Bộ phận: @Model.Customer.DepartmentName</span>
                </div>
                <div class="form-group">
                    <span>Địa chỉ 1: @Model.Customer.Address1</span>
                </div>
                <div class="form-group">
                    <span>Địa chỉ 2: @Model.Customer.Address2</span>
                </div>
                <div class="form-group">
                    <span>Địa chỉ 3: @Model.Customer.Address3</span>
                </div>
                <div class="form-group">
                    <span>Địa chỉ 4: @Model.Customer.Address4</span>
                </div>
                <div class="form-group">
                    <span>Mã bưu điện: @Model.Customer.PostalCode</span>
                </div>
                <div class="form-group">
                    <span>Điện thoại: @Model.Customer.PhoneNumber</span>
                </div>
                <div class="form-group">
                    <span>Fax: @Model.Customer.Fax</span>
                </div>
            </div>
            <div>
                <a href="/Manage/Edit" class="btn btn-primary bg-base-color-dark">Cập nhật</a>
            </div>
        }
    </div>
</div>
