@using Upup.Globalization
@model Upup.ViewModels.ProductIndexViewModel
@{
    var product = Model.ProductDetail;
    ViewBag.Title = "Chi tiết sản phẩm";
    ViewBag.Title_en = "Product detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = product.MetaDescription;
    ViewBag.MetaKeywords = product.MetaKeyword;
}

<div id="productDetail">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h1 class="pull-left uppercase lang-vi">@product.Name</h1>
                <h1 class="pull-left uppercase lang-en">@product.Name_en</h1>
                <h3 class="pull-right">
                    <a target="_blank" class="lang-vi" href="@product.LinkGuide">HƯỚNG DẪN SỬ DỤNG</a>
                    <a target="_blank" class="lang-en" href="@product.LinkGuide">USER GUIDE</a>
                </h3>
            </div>
            <iframe src="~/bower_components/pdfjs-1.9.426-dist/web/viewer.html?file=/Images/ProductFiles/@product.PdfUrl" style="width:100%;height:1242px;"></iframe>
        </div>
        <div class="col-md-4">
            <div class="order-suggest form-group">
                <div class="row">
                    <div class="col-md-8"><label><span class="lang-vi">Mã sản phẩm</span><span class="lang-en">Product code</span> </label></div>
                    <div class="col-md-4"><label><span class="lang-vi">Số lượng</span><span class="lang-en">Quantity</span></label></div>
                </div>
                <div class="row">
                    <div class="col-md-8"><input type="text" id="variant_code" class="form-control" /></div>
                    <div class="col-md-4"><input type="number" id="variant_quantity" min="1" value="1" class="form-control text-right" /></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" id="btn_check" class="btn btn-success">
                            <span class="lang-vi">Kiểm tra</span><span class="lang-en">Check</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Mã sản phẩm</span><span class="lang-en">Product code</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="code" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Đơn giá</span><span class="lang-en">Price</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="price" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Số lượng</span><span class="lang-en">Quanitty</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="quantity" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Tổng tiền</span><span class="lang-en">Total amount</span> </label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right total-amount" disabled="disabled" id="total_amount" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Ngày giao hàng</span><span class="lang-en">Ship date</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="ship_date" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        @if (!Model.IsHadPo)
                        {
                            <a href="javascript:void(0)" class="add-to-cart btn btn-primary active-by-check-product" disabled><span class="lang-vi">Thêm vào đơn hàng</span><span class="lang-en">Add to PO</span></a>
                        }
                        else
                        {
                            <ul class="nav nav-pills">
                                <li class="dropdown" id="menu1">
                                    <button id="btn_add_cart_dropdown" class="dropdown-toggle btn btn-primary active-by-check-product" data-toggle="dropdown" href="#menu1" disabled>
                                        <span class="lang-vi">Thêm vào đơn hàng</span>
                                        <span class="lang-en">Add to cart</span>
                                        <b class="caret"></b>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0)" class="add-to-cart">
                                                <span class="lang-vi">Đơn hàng hiện tại</span><span class="lang-en">Current PO</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" id="btn_add_po">
                                                <span class="lang-vi">Đơn hàng cũ</span><span class="lang-en">Old PO</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    </div>
                    <div class="col-md-6 text-right"><a class="btn btn-danger" href="/Cart"><span class="lang-vi">K.tra đơn hàng</span> <span class="lang-en">Manage Cart</span></a></div>
                </div>
            </div>
            <div id="guideArea" class="order-suggest form-group hidden">
                <h2 id="guideName"></h2>
                <br />
                <div class="area-button">
                    <div class="row">
                        <div class="col-md-6 text-center"><a id="guide2d" target="_blank" class="btn btn-success">2D CAD</a></div>
                        <div class="col-md-6 text-center"><a id="guide3d" target="_blank" class="btn btn-success">3D CAD</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="arae-facebook">
    <div class="fb-share-button" data-href="http://localhost/Product/Index/1" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2FProduct%2FIndex%2F1&amp;src=sdkpreparse"><span class="lang-vi">Chia sẻ</span><span class="lang-en">Share</span></a></div>
    <div class="fb-comments" data-href="http://localhost/product/index/1" data-numposts="10"></div>
</div>

<div id="addToPOModal" class="modal fade bs-example-modal-sm modal-sm bootstrap-dialog type-primary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title"><span class="lang-vi">Chọn một đơn hàng cũ</span><span class="lang-en">Choose an PO</span></h4>
            </div>
            <div class="modal-body edit">
                <div class="panel-body">
                    <form action="/Cart/AddToOldPo" id="addToOldPoForm" method="post">
                        <input type="hidden" id="oldPoId" name="chosenOldPoId" />
                        <input type="hidden" id="currentPvCode" name="productVariantCode" />
                        <input type="hidden" id="currentQuantity" name="productVariantQuantity" />
                        <div class="form-group">
                            <table id="choosePO" class="table table-bordered table-striped display">
                                <thead>
                                    <tr>
                                        <th><span class="lang-vi">Mã PO</span><span class="lang-en">PO code</span></th>
                                        <th><span class="lang-vi">Tên PO</span><span class="lang-en">PO name</span></th>
                                        <th><span class="lang-vi">Ngày tạo</span><span class="lang-en">Created date</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </form>
                    <div class="text-right"><input type="submit" class="btn btn-danger" data-dismiss="modal" value="@Upup.Globalization.Lang.Cancel" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            var lastestpv = null;
            $.fn.dataTable.ext.errMode = 'none';
            $('#btn_check').click(function () {
                $.LoadingOverlay("show");
                $.getJSON("/api/ProductApi/GetProductVariant", { code: $("#variant_code").val(), quantity: $("#variant_quantity").val() }, function (response) {
                    if (response.Message != null && response.Message.indexOf("Authorization") != -1) {
                        $.LoadingOverlay("hide");
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_WARNING,
                            title: '@Lang.Message',
                            message: '@Lang.This_Function_Require_Login'
                        });
                        setTimeout(function () {
                            BootstrapDialog.closeAll();
                        }, 3000);
                        return;
                    }
                    if (response.ResultValue) {
                        var pv = response.Data;
                        lastestpv = pv;
                        $('.active-by-check-product').removeAttr("disabled");
                        $('#code').val(response.Code);
                        $('#price').val(accounting.formatMoney(pv.Price));
                        $('#quantity').val(response.Quantity);
                        $('#total_amount').val(accounting.formatMoney(response.Quantity * pv.Price));
                        $('#ship_date').val(response.ShipDateNumber + ' ngày');
                        $('#guideArea').removeClass('hidden');
                        $('#guideName').text('@Lang.Drawing: ' + response.Code);
                        if (response.Cad2dUrl !== undefined) {
                            $('#guide2d').attr('href', '/Images/2dFiles/' + response.Cad2dUrl)
                        }
                        if (response.Cad3dUrl !== undefined) {
                            $('#guide3d').attr('href', '/Images/3dFiles/' + response.Cad3dUrl)
                        }
                        //if (response.ShipDate)
                        //    $('#ship_date').val(new Date(Date.parse(response.ShipDate)).toLocaleDateString('vi'));
                        //else
                        //    $('#ship_date').val('Chưa xác định');
                    }
                    else {
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_WARNING,
                            title: '@Lang.Notify',
                            message: response.Message
                        });
                        setTimeout(function () {
                            BootstrapDialog.closeAll();
                        }, 3000);
                    }
                    $.LoadingOverlay("hide");
                });
            });
            $('.add-to-cart').click(function () {
                $.LoadingOverlay("show");
                $.post("/api/CartApi/Add", { productVariantCode: lastestpv.VariantCode, quantity: parseInt($("#variant_quantity").val()) }, function (response) {
                    if (response.Message != null && response.Message.indexOf("Authorization") != -1) {
                        $.LoadingOverlay("hide");
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_WARNING,
                            title: '@Lang.Notify',
                            message: '@Lang.This_Function_Require_Login'
                        });
                        setTimeout(function () {
                            BootstrapDialog.closeAll();
                        }, 3000);
                        return;
                    }
                    if (response.ResultValue) {
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_SUCCESS,
                            title: '@Lang.Success',
                            message: response.Message
                        });
                    }
                    else {
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_DANGER,
                            title: '@Lang.Fail',
                            message: response.Message
                        });
                    }
                    setTimeout(function () {
                        BootstrapDialog.closeAll();
                    }, 3000);
                    $.LoadingOverlay("hide");
                });
            });
            var $table = $('#choosePO').DataTable({
                 "language": {
                        "lengthMenu": "@Lang.Display_Menu_Datatable",
                        "search": "@Lang.Search: ",
                        "zeroRecords": "@Lang.Zero_Record_Datatable",
                        "info": "@Lang.Display_Page_Total_DataTable",
                        "infoEmpty": "@Lang.Data_Not_Found_Datatable",
                        "infoFiltered": "@Lang.Info_Filtered_Datatable",
                        "paginate": {
                            "first": "@Lang.First_Page",
                            "last": "@Lang.Last_Page",
                            "previous": "@Lang.Prev_Page",
                            "next": "@Lang.Next_Page"
                        }
                 },
                "autoWidth": false,
                "ordering": false,
                "serverSide": true,
                "ajaxSource": "/api/PoApi/GetAllUnOrderedPo",
                "processing": true,
                "searching": false,
                "paging": false,
                "info": false,
                "columns": [
                    { data: "DT_RowData.Code" },
                    { data: "DT_RowData.Name" },
                    {
                        data: "DT_RowData.CreatedDate",
                        render: function (data) {
                            return new Date(Date.parse(data)).toLocaleDateString('vi');
                        }
                    },
                    {
                        data: "DT_RowData.DeliveryDate",
                        'render': function (data, type, full, meta) {
                            return '<input class="btn btn-primary btn-xs act-switch-old-po" type="submit" value="Chọn"/>'
                        }
                    }
                ],
                "select": {
                    "style": 'os',
                    "selector": 'td:not(:last-child)' // no row selection on last column
                },
                "drawCallback": function (settings) {
                    $(".act-switch-old-po").click(function () {
                        var currentPoId = $(this).closest('tr').data().Id;
                        $('#oldPoId').val(currentPoId);
                        $('#currentPvCode').val(lastestpv.VariantCode);
                        $('#currentQuantity').val(parseInt($("#variant_quantity").val()));
                    });
                }
            });
            $('#btn_add_po').click(function () {
                $('#addToPOModal').modal().show();
                $table.ajax.reload();
            });
        });
    </script>
}