@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Upup.Helpers
@model Upup.Areas.Admin.ViewModels.PurchaseOrderDetailModel

<section class="content-header">
    <h1>
        Quản lý đơn hàng @Model.Code
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionSiteMap("ProductsConsole", "Products", null, "Tổng quan", new { @class = "fa fa-dashboard" })</li>
        <li class="active">Quản lý đơn hàng</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-7">
        <section class="content">
            <div class="box box-primary">
                <div class="box-body">

                </div>
            </div>
        </section>
    </div>
    <div class="col-md-5">
        <section class="content">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5"><b>Tên khách hàng:</b></div>
                        <div class="col-md-7">@Model.Customer.FullName</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><b>Số điện thoại:</b></div>
                        <div class="col-md-7">@Model.Customer.PhoneNumber</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><b>Email:</b></div>
                        <div class="col-md-7">@Model.Customer.Email</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><b>Địa chỉ:</b></div>
                        <div class="col-md-7">@Model.Customer.Address1</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>