@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var countShipping = 0;
    var prefixShipping = "Đang";
}

@using Upup.Helpers
@using Upup.Models
@model Upup.Areas.Admin.ViewModels.PurchaseOrderDetailModel

<div class="manage-po-content">
    <section class="content-header">
        <h1>
            Quản lý đơn hàng <span class="code-color">#@Model.Code</span>
            <small>Preview</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionSiteMap("ProductsConsole", "Products", null, "Tổng quan", new { @class = "fa fa-dashboard" })</li>
            <li class="active">Quản lý đơn hàng</li>
        </ol>
    </section>

    <div class="row">
        <div class="col-md-8">
            <div class="content">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <label>Đơn hàng chi tiết</label>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="state-color">@(Model.State == 4 ? prefixShipping + " " + StringHelper.GetPoStateByCode(Model.State) : StringHelper.GetPoStateByCode(Model.State))</div>
                            </div>
                        </div>
                        <div class="po-admin-items">
                            @foreach (var product in Model.Products)
                            {
                                <div class="po-admin-item">
                                    @if (product.State == 4)
                                    {
                                        countShipping++;
                                    }
                                    @if (countShipping == Model.Products.Count)
                                    {
                                        prefixShipping = "Đã";
                                    }
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img width="100" src="http://upup.com.vn/Images/products/@product.Product.Product.ImageUrl" />
                                        </div>
                                        <div class="col-md-2 text-center">
                                            @product.Product.VariantName
                                        </div>
                                        <div class="col-md-2">
                                            @product.Product.Price.ToString("N0")
                                        </div>
                                        <div class="col-md-1">
                                            x @product.Quantity
                                        </div>
                                        <div class="col-md-3">
                                            @Convert.ToDecimal(product.Product.Price * product.Quantity).ToString("N0") VNĐ
                                        </div>
                                        <div class="col-md-2">
                                            @if (Model.State == (int)PoState.Shipped)
                                            {
                                                <select class="product-ship-state" data-id="@product.Id">
                                                    <option value="0" @((int)product.State == 0 ? "selected" : string.Empty)>Xuất kho</option>
                                                    <option value="1" @((int)product.State == 1 ? "selected" : string.Empty)>Vận chuyển</option>
                                                    <option value="2" @((int)product.State == 2 ? "selected" : string.Empty)>Hoàn thành</option>
                                                </select>
                                            }
                                            else
                                            {
                                                @: @StringHelper.GetPoStateByCode(product.State)
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (Model.State == (int)PoState.Shipped)
                        {
                            <div class="note-ship">
                                <small>Lưu ý: - Đơn hàng chỉ chuyển trạng thái hoàn thành được khi tất cả các sản phẩm trong đơn hàng đã vận chuyển thành công.</small>
                            </div>
                        }
                        <div id="changeStatus" class="row">
                            <div class="col-md-2 col-md-offset-1 text-center"><button id="state2" class="state-btn btn btn-warning">Đặt hàng</button></div>
                            <div class="col-md-2 text-center"><button id="state3" class="state-btn btn btn-info">Thanh toán</button></div>
                            <div class="col-md-2 text-center"><button id="state4" class="state-btn btn btn-primary">Vận chuyển</button></div>
                            <div class="col-md-2 text-center"><button id="state5" class="state-btn btn btn-success">Hoàn thành</button></div>
                            <div class="col-md-2 text-center"><button id="state6" class="state-btn btn btn-danger">Hủy đơn hàng</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content">
                <div class="box box-primary">
                    <div class="box-body">
                        <h3>Thông tin giao nhận</h3>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Cá nhân/Tổ chức:</b></div>
                            <div class="col-md-7">@Model.ReceiverName</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Số điện thoại:</b></div>
                            <div class="col-md-7">@Model.ReceiverPhone</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Email:</b></div>
                            <div class="col-md-7">@Model.ReceiverEmail</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Địa chỉ:</b></div>
                            <div class="col-md-7">@Model.ReceiverAddress</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Website:</b></div>
                            <div class="col-md-7">@Model.ReceiverWebsite</div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-body">
                        <h3>Thông tin đơn hàng</h3>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Thời gian đặt:</b></div>
                            <div class="col-md-7">@Model.CreatedDate</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Tổng số tiền:</b></div>
                            <div class="col-md-7"><span class="code-color">@Model.TotalAmount.ToString("N0") VNĐ</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">HT thanh toán:</b></div>
                            <div class="col-md-7">@StringHelper.GetPoPaymentMethodByCode(Model.PaymentCode)</div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-body">
                        <h3>Thông tin khách hàng</h3>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Tên khách hàng:</b></div>
                            <div class="col-md-7">@Model.Customer.FullName</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Số điện thoại:</b></div>
                            <div class="col-md-7">@Model.Customer.PhoneNumber</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Email:</b></div>
                            <div class="col-md-7">@Model.Customer.Email</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><b class="purple-color">Địa chỉ:</b></div>
                            <div class="col-md-7">@Model.Customer.Address1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section AddScriptToBody{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#state' + @Model.State).css('box-shadow', 'red 1px 1px 6px, red -1px -1px 6px, pink 2px 2px 12px, pink -2px -2px 12px').css('border', '1px solid white');
            $('#changeStatus .btn').each(function () {
                var $btn = $(this);
                if (parseInt($btn.attr('id').split('state')[1], 10) <= @Model.State){
                    $btn.attr('disabled', 'disabled');
                }
                $btn.click(function () {
                    var btnState = $btn.attr('id').split('state')[1];
                    BootstrapDialog.confirm({
                        title: 'Tin nhắn',
                        message: 'Bạn thực sự muốn chuyển đổi trạng thái đơn hàng này?',
                        //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                        closable: true, // <-- Default value is false
                        draggable: true, // <-- Default value is false
                        btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                        btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                        //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                        callback: function (result) {
                            // result will be true if button was click, while it will be false if users close the dialog directly.
                            if (result) {
                                $.LoadingOverlay("show");
                                $.post('/PurchaseOrders/ChangePoState', { 'code': @Model.Code, 'state': parseInt(btnState, 10) },
                                    function (data) {
                                        if (data.ResultValue) {
                                            BootstrapDialog.show({
                                                type: BootstrapDialog.TYPE_SUCCESS,
                                                title: 'Thành công',
                                                message: data.Message
                                            });
                                        } else {
                                            BootstrapDialog.show({
                                                type: BootstrapDialog.TYPE_DANGER,
                                                title: 'Thất bại',
                                                message: data.Message
                                            });
                                        }
                                        setTimeout(function () {
                                            window.location.href = '@(Url.Action("Edit","PurchaseOrders", new { id = Model.Id }))'
                                        }, 4000);
                                        $.LoadingOverlay("hide");
                                    }
                                );
                            }
                        }
                    });
                });
            });
            var isPoFinishShipping = true;
            $(".product-ship-state").each(function () {
                var $this = $(this);
                if ($this.val() != @Convert.ToInt32(PoDetailState.Completed)){
                    isPoFinishShipping = false;
                }
                $this.change(function () {
                    BootstrapDialog.confirm({
                        title: 'Tin nhắn',
                        message: 'Bạn thực sự muốn chuyển đổi trạng thái vận chuyển của sản phẩm này?',
                        //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                        closable: true, // <-- Default value is false
                        draggable: true, // <-- Default value is false
                        btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                        btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                        //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                        callback: function (result) {
                            // result will be true if button was click, while it will be false if users close the dialog directly.
                            if (result) {
                                $.LoadingOverlay("show");
                                $.post('/PurchaseOrders/ChangePoDetailState', { 'id': parseInt($this.attr('data-id'), 10), 'state': $this.val() },
                                    function (data) {
                                        if (data.ResultValue) {
                                            BootstrapDialog.show({
                                                type: BootstrapDialog.TYPE_SUCCESS,
                                                title: 'Thành công',
                                                message: data.Message
                                            });
                                        } else {
                                            BootstrapDialog.show({
                                                type: BootstrapDialog.TYPE_DANGER,
                                                title: 'Thất bại',
                                                message: data.Message
                                            });
                                        }
                                        setTimeout(function () {
                                            window.location.href = '@(Url.Action("Edit","PurchaseOrders", new { id = Model.Id }))'
                                        }, 2000);
                                        $.LoadingOverlay("hide");
                                    }
                                );
                            }
                        }
                    });
                });
            });
            if (!isPoFinishShipping) {
                $("#state5").attr('disabled', 'disabled');
            }
        });
    </script>
}