@model Upup.ViewModels.SearchModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-result">
    <h2>Kết quả tìm kiếm cho từ khóa: @ViewBag.Term</h2>
    <small>@Model.TotalCount  kết quả được tìm thấy</small>
    @if (Model.TotalCount > 0)
    {
        <div class="row">
            <div class="col-md-6">
                <h3>Sản phẩm được tìm thấy</h3>
                <div class="results">
                    @foreach (var prod in Model.SearchProductResult)
                    {
                        <div class="result-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="/Product/Index/@prod.Id"><img src="/Images/products/@prod.Image" /></a>
                                </div>
                                <div class="col-md-8">
                                    <div class="title">
                                        <a class="bold" href="/Product/Index/@prod.Id">
                                            <span class="lang-vi">@prod.Title</span>
                                            <span class="lang-en">@prod.Title_en</span>
                                        </a>
                                    </div>
                                    <div class="category">
                                        <span class="lang-vi">Danh mục:</span>
                                        <span class="lang-en">Category:</span>
                                        <a href="/ProductCategory/Index/@prod.CategoryId">
                                            <span class="lang-vi">@prod.CategoryName</span>
                                            <span class="lang-en">@prod.CategoryName_en</span>
                                        </a>
                                    </div>
                                    <div class="summary lang-vi">@Html.Raw(prod.Content)</div>
                                    <div class="summary lang-en">@Html.Raw(prod.Content_en)</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="lang-vi">Bài viết được tìm thấy</h3>
                <h3 class="lang-en">Found posts</h3>
                <div class="results">
                    @foreach (var post in Model.SearchTopicResult)
                    {
                        <div class="result-item">
                            <div class="title">
                                <a class="bold" href="/Topic/Index/@post.Id">
                                    <span class="lang-vi">@post.Title</span>
                                    <span class="lang-en">@post.Title_en</span>
                                </a>
                            </div>
                            <div class="category">
                                <span class="lang-vi">Danh mục:</span>
                                <span class="lang-en">Category:</span>
                                <a class="result-category" href="/PostCategory/Index/@post.CategoryId">
                                    <span class="lang-vi">@post.CategoryName</span>
                                    <span class="lang-en">@post.CategoryName_en</span>
                                </a>
                            </div>
                            <div class="summary lang-vi">@post.Content</div>
                            <div class="summary lang-en">@post.Content_en</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
