@model Upup.ViewModels.SearchModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-result">
    <h2>Kết quả tìm kiếm cho từ khóa: Ốc vít</h2>
    <small>@Model.TotalCount  kết quả được tìm thấy</small>
    @if (Model.TotalCount > 0)
    {
        <div class="row">
            <div class="col-md-6">
                <h3>Sản phẩm được tìm thấy</h3>
                <div class="results">
                    @foreach (var prod in Model.SearchProductResult)
                    {
                        <div class="result-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="/Product/Index/@prod.Id"><img src="/Images/products/@prod.Image" /></a>
                                </div>
                                <div class="col-md-8">
                                    <div class="title"><a class="bold" href="/Product/Index/@prod.Id">@prod.Title</a></div>
                                    <div class="category">Danh mục: <a href="/ProductCategory/Index/@prod.CategoryId">@prod.CategoryName</a></div>
                                    <div class="summary">@prod.Content</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h3>Bài viết được tìm thấy</h3>
                <div class="results">
                    @foreach (var post in Model.SearchTopicResult)
                    {
                        <div class="result-item">
                            <div class="title"><a class="bold" href="/Topic/Index/@post.Id">@post.Title</a></div>
                            <div class="category">
                                Danh mục: <a class="result-category" href="/PostCategory/Index/@post.CategoryId">@post.CategoryName</a>
                            </div>
                            <div class="summary">@post.Content</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
