
@{
    ViewBag.Title = "ManagePosts";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Upup.Helpers
@model Upup.Areas.Admin.ViewModels.PostModel

@section AddCssToHead
{
    <link href="@Url.Content("~/Content/dropzone.min.css")" rel="stylesheet" type="text/css" />
}

<section class="content-header">
    <h1>
        Quản lý Bài viết bài viết
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionSiteMap("AdminConsole", "Admin", null, "Tổng quan", new { @class = "fa fa-dashboard" })</li>
        <li class="active">Quản lý Bài viết bài viết</li>
    </ol>
</section>

@using (Html.BeginForm("ManagePosts", "Posts", FormMethod.Post, new { id = "insertForm" }))
{
    <section class="content">
        <div class="box box-primary">
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    @Html.HiddenFor(n => n.Id)
                    <div class="form-group">
                        @Html.LabelFor(n => n.Category_id)
                        @Html.DropDownListFor(n => n.Category_id, Model.PostCategories, new
                   {
                       @class = "form-control"
                   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.Title)
                        @Html.TextBoxFor(n => n.Title, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tên Bài viết",
                       @required = "required",
                       @data_errormessage_value_missing = "Vui lòng điền tên Bài viết"
                   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.Title_en)
                        @Html.TextBoxFor(n => n.Title_en, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tên Bài viết tiếng anh",
                       @required = "required",
                       @data_errormessage_value_missing = "Vui lòng điền tên Bài viết tiếng anh"
                   })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(n => n.Content)
                        @Html.TextAreaFor(n => n.Content, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập sơ lược về Bài viết",
                       @rows = "3"
                   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.Content_en)
                        @Html.TextAreaFor(n => n.Content_en, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập sơ lược tiếng anh về Bài viết",
                       @rows = "3"
                   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.MetaDescription)
                        @Html.TextBoxFor(n => n.MetaDescription, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mô tả cho trang",
                       @required = "required",
                       @data_errormessage_value_missing = "Vui lòng điền mô tả trang"
                   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.MetaKeyword)
                        @Html.TextBoxFor(n => n.MetaKeyword, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập từ khỏa cho trang",
                       @required = "required",
                       @data_errormessage_value_missing = "Vui lòng điền từ khóa trang"
                   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.MetaDescription_en)
                        @Html.TextBoxFor(n => n.MetaDescription_en, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mô tả tiếng anh cho trang",
                       @required = "required",
                       @data_errormessage_value_missing = "Vui lòng điền mô tả tiếng anh cho trang"
                   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.MetaKeyword_en)
                        @Html.TextBoxFor(n => n.MetaKeyword_en, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập từ khỏa cho trang",
                       @required = "required",
                       @data_errormessage_value_missing = "Vui lòng điền từ khóa tiếng anh cho trang"
                   })
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </div>
    </section>
}

<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Dữ liệu Bài viết</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Bài viết</th>
                        <th>Tên Bài viết tiếng anh</th>
                        <th>Nội dung</th>
                        <th>Tùy chỉnh</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

@section AddScriptToBody{
    <script src="@Url.Content("~/Scripts/dropzone.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('Content', {
                extraPlugins: 'divarea'
            });

            CKEDITOR.replace('Content_en', {
                extraPlugins: 'divarea'
            });

            $("button[type='submit']").click(function() {
                var messageLength = CKEDITOR.instances.Content.getData().replace(/<[^>]*>/gi, '').length;
                if (!messageLength && $("#Title").val() !== '' && $("#Title_en").val() !== '') {
                    AlertBootstrap('Vui lòng viết nội dung');
                    return false;
                }
                var messageLength2 = CKEDITOR.instances.Content.getData().replace(/<[^>]*>/gi, '').length;
                if (!messageLength2 && $("#Title").val() !== '' && $("#Title_en").val() !== '') {
                    AlertBootstrap('Vui lòng viết nội dung mô tả tiếng anh');
                    return false;
                }
                return true;
            });

            var $table = $("#example1").DataTable({
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ dòng dữ liệu cho mỗi trang",
                    "search": "Tìm kiếm: ",
                    "zeroRecords": "Xin lỗi - Không tìm thấy kết quả nào",
                    "info": "Đang hiển thị trang _PAGE_ trên tổng số _PAGES_ trang",
                    "infoEmpty": "Dữ liệu không tồn tại",
                    "infoFiltered": "(đã lọc được _MAX_ trên tổng sô dữ liệu)",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "previous": "Trang trước",
                        "next": "Trang sau"
                    }
                },
                "serverSide": true,
                "ajaxSource": "/Posts/LoadAllPosts",
                "processing": true,
                "columns": [
                    {
                        "name": "ID",
                        "class": "data-id"
                    },
                    { "name": "Name" },
                    { "name": "Name_en" },
                    {
                        "name": "Content",
                        "sortable": false
                    },
                    {
                        "name": "ID",
                        "targets": 5,
                        "searchable": false,
                        "sortable": false,
                        "width": 90,
                        "render": function(data, type, full, meta) {
                            return '<a href=\"/Admin/Posts/ManagePosts/' + data + '\" class="btn btn-success btn-xs"><i class="fa fa-edit fa-lg"></i> &nbsp;Sửa</a>  <a href=\"javascript:void(0)\" data-id="' + data + '" class="btn btn-danger btn-xs act-del" data-toggle="confirmation"><i class="fa fa-trash-o fa-lg"></i> &nbsp;Xóa</a>';
                        }
                    }
                ],
                "drawCallback": function(settings) {
                    $(".act-del").click(function() {
                        var id = $(this).attr('data-id');
                        BootstrapDialog.confirm({
                            title: 'Tin nhắn',
                            message: 'Bạn thật sự muốn xóa Bài viết này ?',
                            //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                            closable: true, // <-- Default value is false
                            draggable: true, // <-- Default value is false
                            btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                            btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                            //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                            callback: function(result) {
                                // result will be true if button was click, while it will be false if users close the dialog directly.
                                if (result) {
                                    $.post('/Posts/RemovePosts', { 'id': parseInt(id, 10) },
                                        function(data) {
                                            if (data.ResultValue) {
                                                BootstrapDialog.show({
                                                    type: BootstrapDialog.TYPE_SUCCESS,
                                                    title: 'Thành công',
                                                    message: data.Message
                                                });
                                            } else {
                                                BootstrapDialog.show({
                                                    type: BootstrapDialog.TYPE_DANGER,
                                                    title: 'Thất bại',
                                                    message: data.Message
                                                });
                                            }
                                            $table.ajax.reload();
                                            setTimeout(function() {
                                                BootstrapDialog.closeAll();
                                            }, 5000);
                                        }
                                    );
                                }
                            }
                        });
                    });
                }
            });
        });
    </script>
}

