@using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/bootstrap-dialog.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #appbody .lang-en {
            display: none;
        }
    </style>
</head>
<body id="appbody">
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=179668149113779';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">*@
    <div id="header">
        <div class="container">
            <div class="top-header row">
                <div class="area-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/Settings/@WebConfigurationManager.AppSettings["LogoUrl"]" alt="Logo" />
                    </a>
                </div>
                <div class="area-slogan">
                    <h3 class="text-center">@Html.Raw(HttpUtility.HtmlDecode(WebConfigurationManager.AppSettings["Slogan"]))</h3>
                </div>
                <div class="area-user">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>*@
            <div class="row">
                <div class="col-md-12">
                    <div class="search-wrapper">
                        <div class="text-center">
                            <form action="/Search/Index" method="get">
                                <input type="text" name="term" id="searchBox" value="@ViewBag.Term" />
                                <button class="btn btn-default" id="searchButton" type="submit">
                                    <span class="lang-vi">Tìm kiếm</span>
                                    <span class="lang-en">Search</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="topMenu">
                <div class="row">
                    <div class="menu-item">
                        <a href="/"><span class="icon product-icon"></span><span class="content">Tất cả sản phẩm</span></a>
                    </div>
                    <div class="menu-item">
                        <a href="/Tech/TechGuide"><span class="icon tech-icon"></span><span class="content">Công nghệ</span></a>
                    </div>
                    <div class="menu-item">
                        <a href="/UserManual/ManualGuide"><span class="icon support-icon"></span><span class="content">Hướng dẫn sử dụng</span></a>
                    </div>
                    <div class="menu-item">
                        <a href="/Event/EventGuide"><span class="icon event-icon"></span><span class="content">Triển lãm sự kiện</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*</nav>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>Copyright &copy; 2017 | Upup Mechanic | Powered by ICA Team</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/js-cookie/js.cookie-2.1.4.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/loadingoverlay.min.js")" type="text/javascript"></script>
    <!-- End of liblary scripts -->
    <!-- Begin of common scripts -->
    <script src="~/Scripts/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/helpers/utils.js" asp-append-version="true"></script>
    <script src="~/Scripts/helpers/upupConfigs.js" asp-append-version="true"></script>
    <script src="~/Scripts/helpers/lang.js" asp-append-version="true"></script>
    <script src="~/Scripts/helpers/httpHelper.js" asp-append-version="true"></script>
    <!-- End of liblary scripts -->
    <script>
        $('#TextBoxId').keypress(function (e) {
            if (e.keyCode == 13)
                $('#searchButton').click();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
