@using Upup.Models
@model  PostCategory

<div class="header">
    <div class="head-category">
        <div class="category-list">
            <dl class="category-list-caption">
                @foreach (var category in Model.ChildCategories.OrderBy(c => c.Id))
                {
                    <dd class="root-category">
                        <a href="/@ViewBag.ControllerName/Category/@category.Id" class="link category-link">
                            <span class="lang-vi">@category.Name</span>
                            <span class="lang-en">@category.Name_en</span>
                        </a>
                        <div class="category-list-box">
                            <p class="subtitle"><span class="lang-vi">@category.Name</span><span class="lang-en">@category.Name_en</span></p>
                            <p class="category-list-caption">
                                <div class="lang-vi">@Html.Raw(category.Description)</div>
                                <div class="lang-en">@Html.Raw(category.Description_en)</div>
                            </p>
                            <ul>
                                @if (category.ChildCategories != null)
                                {
                                    foreach (var childCategory in category.ChildCategories)
                                    {
                                        <li>
                                            <a href="/@ViewBag.ControllerName/Category/@childCategory.Id">
                                                <span class="lang-vi">@childCategory.Name</span>
                                                <span class="lang-en">@childCategory.Name_en</span>
                                            </a>
                                            @if (childCategory.ChildCategories != null && childCategory.ChildCategories.Count > 0)
                                            {
                                                <ul class="collapse">
                                                    @foreach (var nestedChildCategory in childCategory.ChildCategories)
                                                    {
                                                        <li>
                                                            <a href="/@ViewBag.ControllerName/Category/@nestedChildCategory.Id">
                                                                <span class="lang-vi">@nestedChildCategory.Name</span>
                                                                <span class="lang-en">@nestedChildCategory.Name_en</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="category-list-bottom-link">
                                <a href="/ProductCategory/Index/@category.Id">
                                    <span class="lang-vi">
                                        Tất cả @category.Name
                                    </span>
                                    <span class="lang-en">
                                        All @category.Name
                                    </span>
                                </a>
                            </div>
                        </div>
                    </dd>
                }
            </dl>
        </div>
    </div>
</div>