@model List<Upup.ViewModels.PostCategoryViewModel>

<div class="header">
    <div class="head-category">
        <div class="category-list">

            <dl class="category-list-caption">
                @foreach (var category in Model)
                {
                    if (category.ParentCategory == null)
                    {
                        <dd class="root-category">
                            <a href="/ProductCategory/Index/@category.Id" class="link category-link">
                                <span class="lang-vi">@category.Name</span>
                                <span class="lang-en">@category.Name_en</span>
                            </a>
                            <div class="category-list-box">
                                <p class="subtitle"><span class="lang-vi">@category.Name</span><span class="lang-en">@category.Name_en</span></p>
                                <p class="category-list-caption"><span class="lang-vi">@Html.Raw(category.Description)</span><span class="lang-en">@Html.Raw(category.Description_en)</span></p>
                                <ul>
                                    @if (category.ChildCategories != null && category.ChildCategories.Count > 0)
                                    {
                                        foreach (var childCategories in category.ChildCategories)
                                        {
                                            <li>
                                                <a href="/PostProductCategory/Index/@childCategories.Id"><span class="lang-vi">@childCategories.Name</span><span class="lang-en">@childCategories.Name_en</span></a>
                                                @if (childCategories.ChildCategories.Count > 0)
                                                {
                                                    <ul>
                                                        @foreach(var nestedChildCategory in childCategories.ChildCategories)
                                                        {
                                                            <li><a href="/PostProductCategory/Index/@nestedChildCategory.Id">@nestedChildCategory.Name</a></li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    }
                                </ul>
                                <div class="category-list-bottom-link"><a href="/ProductCategory/Index/@category.Id">All @category.Name</a></div>
                            </div>
                        </dd>
                    }
                }
            </dl>
        </div>
    </div>
</div>