
@{
    ViewBag.Title = "ManageProductVariantUnits";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Upup.Helpers

@model Upup.Areas.Admin.ViewModels.ProductVariantUnitModel

<section class="content-header">
    <h1>
        Quản lý Đơn vị sản phẩm
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionSiteMap("AdminConsole", "Admin", null, "Tổng quan", new { @class = "fa fa-dashboard" })</li>
        <li class="active">Quản lý Đơn vị sản phẩm</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ManageProductVariantUnits", "ProductVariantUnits", FormMethod.Post, new { id = "insertForm" }))
        {
            <section class="content">
                <div class="box box-primary">
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            @Html.HiddenFor(n => n.Id)
                            <div class="form-group">
                                @Html.LabelFor(n => n.Name)
                                @Html.TextBoxFor(n => n.Name, new
                           {
                               @class = "form-control",
                               @placeholder = "Nhập tên Đơn vị",
                               @required = "required",
                               @data_errormessage_value_missing = "Vui lòng điền tên Đơn vị"
                           })
                            </div>
                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </section>
        }
    </div>
    <div class="col-md-4">
        <div class="site-map">
            <div id="fontSizeWrapper">
                <label for="fontSize">Kích cở</label>
                <input type="range" value="1" id="fontSize" step="0.1" min="0.5" max="1" />
                <a class="btn-sm btn-success btn-sm pull-right" href="@Url.Action("ManageProductVariantUnits", "ProductVariantUnits" )">Tạo mới</a>
            </div>
            <ul class="tree">
                @foreach (var subPage in Model.AllProductVariantUnit)
                {
                    <li>
                        <input type="checkbox" checked="checked" id="@("c" + subPage.Id)" />
                        <label class="tree_label" for="@("c" + subPage.Id)">@subPage.Name</label>
                        <a href="@Url.Action("ManageProductVariantUnits", "ProductVariantUnits", new { id = subPage.Id  })">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Dữ liệu Đơn vị</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Đơn vị</th>
                        <th>Tùy chỉnh</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

@section AddScriptToBody{
    <script type="text/javascript">
        $(function() {
            var $table = $("#example1").DataTable({
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ dòng dữ liệu cho mỗi trang",
                    "search": "Tìm kiếm: ",
                    "zeroRecords": "Xin lỗi - Không tìm thấy kết quả nào",
                    "info": "Đang hiển thị trang _PAGE_ trên tổng số _PAGES_ trang",
                    "infoEmpty": "Dữ liệu không tồn tại",
                    "infoFiltered": "(đã lọc được _MAX_ trên tổng sô dữ liệu)",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "previous": "Trang trước",
                        "next": "Trang sau"
                    }
                },
                "serverSide": true,
                "ajaxSource": "/ProductVariantUnits/LoadAllProductVariantUnits",
                "processing": true,
                "columns": [
                    {
                        "name": "ID",
                        "class": "data-id"
                    },
                    { "name": "Name" },
                    {
                        "name": "ID",
                        "targets": 5,
                        "searchable": false,
                        "sortable": false,
                        "width": 90,
                        "render": function(data, type, full, meta) {
                            return '<a href=\"/Admin/ProductVariantUnits/ManageProductVariantUnits/' + data + '\" class="btn btn-success btn-xs"><i class="fa fa-edit fa-lg"></i> &nbsp;Sửa</a>  <a href=\"javascript:void(0)\" data-id="' + data + '" class="btn btn-danger btn-xs act-del" data-toggle="confirmation"><i class="fa fa-trash-o fa-lg"></i> &nbsp;Xóa</a>';
                        }
                    }
                ],
                "drawCallback": function(settings) {
                    $(".act-del").click(function() {
                        var id = $(this).attr('data-id');
                        BootstrapDialog.confirm({
                            title: 'Tin nhắn',
                            message: 'Bạn thật sự muốn xóa Đơn vị này ?',
                            //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                            closable: true, // <-- Default value is false
                            draggable: true, // <-- Default value is false
                            btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                            btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                            //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                            callback: function(result) {
                                // result will be true if button was click, while it will be false if users close the dialog directly.
                                if (result) {
                                    $.post('/ProductVariantUnits/RemoveProductVariantUnits', { 'id': parseInt(id, 10) },
                                        function(data) {
                                            if (data.ResultValue) {
                                                BootstrapDialog.show({
                                                    type: BootstrapDialog.TYPE_SUCCESS,
                                                    title: 'Thành công',
                                                    message: data.Message
                                                });
                                            } else {
                                                BootstrapDialog.show({
                                                    type: BootstrapDialog.TYPE_DANGER,
                                                    title: 'Thất bại',
                                                    message: data.Message
                                                });
                                            }
                                            $table.ajax.reload();
                                            setTimeout(function() {
                                                BootstrapDialog.closeAll();
                                            }, 5000);
                                        }
                                    );
                                }
                            }
                        });
                    });
                }
            });
        });
    </script>
}





